<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="listMyActivity" value ="个人学习助手"/>
    <add key="listAction" value ="操作"/>
    <add key="listMyAction" value ="我的操作"/>
    <add key="userAccounts" value ="userb"/>
    <add key="webUrl" value ="blog"/>
  </appSettings>
</configuration>